@charset "UTF-8";
.cmma {
  position: absolute;
  left: 90px;
  top: 20px;
}
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #00c1b1;
    background: -webkit-linear-gradient(#00c1b1, #00c100);
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: white;
    display: block;
    transition: 0.3s
}

@keyframes anima1 {
  0% {color: blue;}
  50%{color: #ee7;}
  100%{color: blue;}
}
.sidenav a:hover, .offcanvas a:focus{
    color: blue;
    animation-iteration-count: infinite;
    animation-name: anima1;
    animation-duration: 4s;

}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}
.font {
  position: fixed;
  top: 5%;
  left: 10%;
  display: none;
}

.header {
  color: #fff;
  width: 100%;
  height: 50px;
  position: fixed;
  background-color: black;
  top: 0px;
   animation-name: flip;
   animation-duration: 1s;
   cursor: default;
}
[class*="rpi-"]{
   display: none;
  }
  [class*="tty-"]{
    display: block;
  }
  @media screen and (min-width: 500px){

      .rpi-m-1{
          display: block;
      }
      .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
      .tty-1 {
        display: none;
      }
      .camm-1 {
        left: 90px;
      }
  }
